.routes-content {
  position: relative;
  top: -2rem;
  display: grid;
  grid-template-columns: 1.5fr 1fr;
  gap: var(--gap);
  height: 100vh;
}

.routes-text-content, .routes-map, .routes-info {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
}

.routes-text-content h2{
  font-size: 3rem;
  margin-bottom: 4rem;
  text-transform: uppercase;
  line-height: 0;
}

.routes-map {
  height: 50%;
  width: auto;
}
